<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAddF1WOGmc9IIkqr91Yjjv0eRxqv3IYj4</string>
	<key>GCM_SENDER_ID</key>
	<string>1077451909824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.massdrive.customerApp</string>
	<key>PROJECT_ID</key>
	<string>prod-mass-ride-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-mass-ride-delivery.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077451909824:ios:6cf8df5a38b2c60c02db25</string>
</dict>
</plist>
