{
  "FLAVOR": "prod",
  "APP_NAME": "Customer",
  "API_BASE_URL": "https://driver-api.nutchaphut.dev",
  "WS_BASE_URL": "wss://driver-api.nutchaphut.dev/ws",
  "GOOGLE_PLACES_KEY_ANDROID": "",
  "GOOGLE_PLACES_KEY_IOS": ""
}
